/* ==========================================================================
   Capital Framework
   Enhancements
   ========================================================================== */

// This is your project's CF enhancements.
//
// Whenever building enhancements or changes to existing CF components, write them here
// to work out the details before contributing them back to a Capital Framework component
//

/* ==========================================================================
   Full-width buttons on small screens
   ========================================================================== */

.btn {
  .respond-to-max(@bp-xs-max, {
    display: block;
    width: 100%;
  });
}

.btn__link {
  .respond-to-max(@bp-xs-max, {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  });
}

.btn + .btn {
  .respond-to-max(@bp-xs-max, {
    margin-top: unit(10px / @base-font-size-px, em);
    margin-left: auto;
  });
}

/* ==========================================================================
   Flush left lists
   ========================================================================== */

.list__flush-left {
  padding-left: 0;
  list-style-position: inside;
}

/* ==========================================================================
   New style form labels
   ========================================================================== */

.form-label {
  .webfont-medium();
  font-size: 1.125em;
}

.form-label_text-wrapper {
  display: block;
  margin-bottom: unit(5px / @base-font-size-px, em);
  .webfont-medium();
  font-size: 1.125em;
}
