#maincontent {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;

  label {
    line-height: 3;
    max-width: 40%;
    padding-bottom: 0.5em;
    text-align: right;
    & > input[type="text"] {
      display: block;
      float: right;
      margin-left: 1em;
    }
  }

}
