{% extends base_template %}
{% load staticfiles %}
{% block title %}Just a demo!{% endblock %}
{% block page_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block nemo_styles %}
{% endblock %}
{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "paying_for_college/disclosures/static/css/main.min.css" %}">
{% endblock %}
{% block responsive_nav %}
<a class="toggle-menu" href="#"><i class="cf-icon cf-icon-menu"></i><span class="u-visually-hidden">Menu</span></a>
{% endblock %}
{% block content %}
<main class="understanding-financial-aid-offer content_wrapper">
    <section class="content_main">
        <h1>Understanding your financial aid offer</h1>
        <div class="verify">
            <p>This personalized summary was created to help you analyze the financial aid offer you received from [School Name] and better understand how excessive student debt can impact your financial life in the future.</p>
            <p>Before you are able to enroll, you will need to review the following sections:</p>
            <ol class="list__flush-left">
                <li>Your aid offer</li>
                <li>Your offer evaluation</li>
                <li>Your options</li>
            </ol>
            <p class="verify_prompt">Verify that the below information is correct to display the details and analysis of your offer.</p>
            <div class="verify_school">
                [School Name]
            </div>
            <div class="verify_location">
                [City, ST]
            </div>
            <dl class="verify_list">
                <dt class="verify_heading">Program</dt>
                <dd class="verify_value">[Program name]</dd>
                <dd class="verify_value">[Program length]</dd>
                <dt class="verify_heading">Offer ID</dt>
                <dd class="verify_value">[XXXXXXX]</dd>
            </dl>
            <button class="btn" title="Yes, this information is correct">Yes, this is correct</button>
            <button class="btn btn__link verify_wrong-info-btn" title="No, this is not my information">No, this is not my information</button>
        </div>
        <section class="step review">
            <h2 class="step_heading">Step 1: Review your first year offer</h2>
            <p>Here is your financial aid offer from [School Name]. Once you review the summary, you can learn about the risks and rewards of accepting this student aid offer. You’ll need to complete this before you are able to enroll.</p>
            <p>Please verify the amounts provided by your school below, making any necessary changes or adding missing information.</p>
            <form class="offer-part cost-to-attend" action="#">
                <h3 class="offer-part_heading">How much will attending this school cost?</h3>
                <div class="form-group">
                    <label class="form-label-header">Cost of attendance</label>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="costs__tuition">Tuition and fees</label>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="costs__tuition" name="costs__tuition" data-financial="tuitionFees">
                    </div>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="costs__room-and-board">Housing and meals</label>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="costs__room-and-board" name="costs__room-and-board" data-financial="roomBoard">
                    </div>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="costs__books">Books and supplies</label>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="costs__books" name="costs__books" data-financial="books">
                    </div>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="costs__transportation">Transportation</label>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="costs__transportation" name="costs__transportation" data-financial="transportation">
                    </div>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="costs__other">Other</label>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="costs__other" name="costs__other" data-financial="otherExpenses">
                    </div>
                    <div class="content_line"></div>
                    <div class="line-item">
                        <div class="line-item_title">
                            Total cost of attendance
                        </div>
                        <div class="line-item_value">
                            <span class="line-item_currency">$</span>
                            <span class="line-item_amount" data-financial="costOfAttendance"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label-header">Grants and scholarships</label>
                    <p class="offer-part_definition">Money you don’t have to pay back</p>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="grants__pell">Federal Pell Grant</label>
                        <p class="offer-part_definition">Based on financial need</p>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="grants__pell" name="grants__pell" data-financial="pell">
                    </div>
                    <div class="form-group_item offer-part_currency">
                        <label class="form-label" for="grants__scholarships">Other grants and scholarships</label>
                        <p class="offer-part_definition">Such as academic scholarships, grants from a foundation, or military tuition assistance</p>
                        <span class="offer-part_unit">$</span>
                        <input class="offer-part_input" type="text" id="grants__scholarships" name="grants__scholarships" data-financial="scholarships">
                    </div>
                    <div class="content_line"></div>
                    <div class="line-item">
                        <div class="line-item_title">
                            Total grants and scholarships
                        </div>
                        <div class="line-item_value">
                            <span class="line-item_currency">$</span>
                            <span class="line-item_amount" data-financial="totalGrantsScholarships"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="block block__flush-sides block__bg offer-part_summary">
                <h4 class="offer-part_summary-heading">Cost for you to attend this school</h4>
                <div class="line-item">
                    <div class="line-item_title">
                        Total cost of attendance
                    </div>
                    <div class="line-item_value">
                        <span class="line-item_currency">$</span>
                        <span class="line-item_amount" data-financial="costOfAttendance"></span>
                    </div>
                </div>
                <div class="line-item">
                    <div class="line-item_title">
                        Total grants and scholarships
                    </div>
                    <div class="line-item_value">
                        <span class="line-item_sign">( &minus; )</span>
                        <span class="line-item_currency">$</span>
                        <span class="line-item_amount" data-financial="totalGrantsScholarships"></span>
                    </div>
                </div>
                <div class="content_line"></div>
                <div class="line-item line-item__total">
                    <div class="line-item_title">
                        Your total cost
                    </div>
                    <div class="line-item_value">
                        <span class="line-item_currency">$</span>
                        <span class="line-item_amount" data-financial="totalCost"></span>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<div class="financial-inputs">
    <h2>Student debt calculator demo</h2>
    <button id="add-random">Add random demo values!</button>
    <!-- Costs of Attendance -->
    <label for="costs__tuition">Tuition
        <input type="text" name="costs__tuition" data-financial="tuitionFees">
    </label>
    <label for="costs__room-and-board">Room and Board
        <input type="text" name="costs__room-and-board" data-financial="roomBoard">
    </label>
    <label for="costs__books">Books
        <input type="text" name="costs__books" data-financial="books">
    </label>
    <label for="costs__other">Other
        <input type="text" name="costs__other" data-financial="otherExpenses">
    </label>
    <label for="costs__transportation">Transportation
        <input type="text" name="costs__transportation" data-financial="transportation">
    </label>

    <!-- Grants & Scholarships -->
    <label for="grants__pell">Federal Pell Grant
        <input type="text" name="grants__pell" data-financial="pell">
    </label>
    <label for="grants__scholarships">Scholarships
        <input type="text" name="grants__scholarships" data-financial="scholarships">
    </label>

    <!-- Contributions -->
    <label for="contrib__savings">Personal Savings
        <input type="text" name="contrib__savings" data-financial="savings">
    </label>
    <label for="contrib__family">Family Contributions
        <input type="text" name="contrib__family" data-financial="family">
    </label>
    <label for="contrib__state529plan">Parent Loans (529 Plan)
        <input type="text" name="contrib__state529plan" data-financial="state529plan">
    </label>
    <label for="contrib__workstudy">Work Study
        <input type="text" name="contrib__workstudy" data-financial="workstudy">
    </label>

    <!-- Contributions -->
    <label for="contrib__perkins">Perkins
        <input type="text" name="contrib__perkins" data-financial="perkins">
    </label>
    <label for="contrib__staffsubsidized">Subsidized loan
        <input type="text" name="contrib__subsidized" data-financial="staffSubsidized">
    </label>
    <label for="contrib__staffunsubsidized">Unsubsidized loan
        <input type="text" name="contrib__unsubsidized" data-financial="staffUnsubsidized">
    </label>
    <label for="contrib__institutionalloan">Institutional Loan
        <input type="text" name="contrib__perkins" data-financial="institutionalLoan">
    </label>
    <label for="contrib__privateloan">Private Loan
        <input type="text" name="contrib__perkins" data-financial="privateLoan">
    </label>
    <button id="calculate-debt">Run Calculations</button>
    <table class="outputs">
        <tr>
            <td>Total Debt at Graduation:</td>
            <td data-financial="totalDebt"></td>
        </tr>
        <tr>
            <td>Monthly Loan Payment:</td>
            <td data-financial="loanMonthly"></td>
        </tr>
        <tr>
            <td>Amount Left to Pay:</td>
            <td data-financial="gap"></td>
        </tr>
    </table>
</div>
{% endblock %}

{% block share_box %}
{% endblock %}

{% block nemo_js %}
{% endblock %}

{% block app_js %}
<script type="text/javascript" src="{% static "paying_for_college/disclosures/static/js/main.js" %}"></script>
{% endblock %}
