        <div class="pfc-nav-wrapper">
            <nav>
                <ul class="pfc-nav">
                    <li><a class="is-active" href="/{{url_root}}/">Get started</a></li>
                    <li><span tabindex="0" class="fake-link">Student financial guides</span>
                        <ul>
                            <li><a href="/{{url_root}}/explore-student-loan-options/">Student loans</a></li>
                            <li><a href="/{{url_root}}/choosing-college-bank-accounts/">Student banking</a></li>
                        </ul>
                    </li>
                    <li><a href="/{{url_root}}/understanding-your-financial-aid-offer/">Compare financial aid offers</a></li>
                    <li><a href="/{{url_root}}/repay-student-debt/">Repay student debt</a></li>
                </ul><!-- end .pfc-nav -->
            </nav>
        </div><!-- end .pfc-nav-wrapper -->
