        <div class="pfc-nav-wrapper">
            <nav>
                <ul class="pfc-nav">
                    <li><a class="is-active" href="/paying-for-college/">Get started</a></li>
                    <li><span tabindex="0" class="fake-link">Student financial guides</span>
                        <ul>
                            <li><a href="/paying-for-college/guides/choose-a-student-loan/">Student loans</a></li>
                            <li><a href="/paying-for-college/guides/manage-your-college-money/">Student banking</a></li>
                        </ul>
                    </li>
                    <li><a href="/paying-for-college/compare-financial-aid-and-college-cost/">Compare financial aid offers</a></li>
                    <li><a href="/paying-for-college/repay-student-debt/">Repay student debt</a></li>
                </ul><!-- end .pfc-nav -->
            </nav>
        </div><!-- end .pfc-nav-wrapper -->
