{% extends base_template %}
{% load staticfiles %}
{% block page_meta %}
<meta charset="UTF-8" />
<meta property="og:title" content="Paying for College &gt; Consumer Financial Protection Bureau"/>
<meta property="og:type" content="government"/>
<meta property="og:url" content="{{ URL }}"/>
{% endblock %}

{% block title %}Take the pledge &gt; Consumer Financial Protection Bureau%}{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block content %}
<style><!--
.buttonish{ background-color: #50A748; font-family: 'Avenir Next', Verdana, sans-serif; text-transform: uppercase; letter-spacing: 0.1em; border-radius: 0.35em; font-size: .875em; border: 1px outset #AFAFB3; position: relative; top: -1px; padding: .45em .75em; color:white; } .buttonish:hover{ color: #666; }
--></style>
<header class="pagetitle"><h1>Take the pledge</h1></header>
<p>Public service organizations – for example, public school districts, police and fire departments, public hospitals, non-profits, and more – can take this pledge to help employees reduce their student debt.</p>
<ul>
<li>It’s a free, valuable benefit for your employees, and a great recruiting tool.</li>
<li>Through one program, employees who qualify can have federal loans forgiven after 10 years, so they should get started early.</li>
<li>If they have too much debt, not much income, or both, they can save thousands of dollars.</li></ul>

<p>We’ll give you a simple toolkit—everything you need to help your employees tackle their student debt, including one-pagers for you and for your staff. </p>

<blockquote><p>My organization pledges to:</p>
<ul>
<li>Talk to our employees about their options for student loan forgiveness.</li>
<li>Help them prove that they work for a public service organization.</li>
<li>Check-in with employees annually to make sure they stay on track.</li>
</ul>
<p><a class="buttonish" href=mailto:pledge@cfpb.gov?subject=We%20pledge%20to%20tackle%20student%20debt&body=Hi!%0A%0AI’d%20like%20to%20get%20started%20with%20the%20pledge%20to%20help%20my%20employees%20qualify%20for%20student%20loan%20forgiveness.%20Could%20you%20send%20me%20a%20toolkit?%0A%0AThanks,%0A%0A[Your%20name]%0A[Your%20organization]%0A[Your%20contact%20information]>Get started</a></p></blockquote>


<hr />
<div class="two-col">
<div class="col">
<h4>I have student debt and work in public service, how can I help?</h4>
<p>The best way to get your employer on board is to ask!</p>

<a class="buttonish" href="mailto:?subject=New%20program%20to%20help%20our%20colleagues&amp;body=Dear%20[your%20supervisor/administrator/HR%20representative],%0A%0AThere’s%20an%20interesting%20program%20that%20the%20Consumer%20Financial%20Protection%20Bureau%20is%20running,%20asking%20public%20service%20organizations%20to%20pledge%20to%20help%20their%20employees%20get%20student%20loan%20forgiveness%20benefits.%0A%0AI%20think%20we%20qualify,%20the%20benefits%20are%20free%20to%20us,%20and%20CFPB%20staff%20will%20walk%20us%20through%20the%20process.%0A%0ATake%20a%20look%20and%20see%20what%20you%20think:%20www.consumerfinance.gov/pledge.%0A%0AWhen%20we’re%20ready%20to%20get%20started,%20we%20can%20just%20email%20pledge@cfpb.gov%20and%20they%20have%20toolkits.%0A%0AThanks!">Get started</a>

</div>
<div class="col">
<h4>What are my options for my own student loans?</h4>
<p>Have more questions about these programs and how they work? We have answers.</p>

<a class="buttonish" href="http://consumerfinance.gov/askcfpb/search?selected_facets=tag_exact%3Apublic+service+loan+forgiveness">Ask CFPB</a>

</div>
{% endblock %}
