[run]
omit = 
    *config/wsgi.py
    *admin*
    *migrations/*
    *disclosures/scripts/*
    *management/*
    *templatetags/*
    */site-packages*
    */python2.7/*
    *setup.py
    */data_source/*

[report]
exclude_lines = 
    pragma: no cover
    if __name__ == .__main__.:
