[run]
omit = 
    config/*
    disclosures/admin*
    disclosures/migrations/*
    disclosures/scripts/*
    disclosures/management/*
    disclosures/templatetags/*
    */site-packages*
    */python2.7/*

[report]
exclude_lines = 
    pragma: no cover
    if __name__ == .__main__.:
