{% extends "front/base_update.html" %} 

{% block title %}Paying for College - Compare financial aid and college cost{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}comparisontool/css/comparison-tool.css">
{% endblock %}


{% block page_js %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}comparisontool/js/cfpb-comparison-analytics-min.js"></script>
<script src="{{ STATIC_PREFIX }}comparisontool/js/feedback.js"></script>
{% endblock %}

{% block body_class %}page paying-for-college{% endblock %}

{% block content %}     
<div id="comparison-tool" class="comparison-tool sub-page-wrapper">     
    <header id="comparison-tool-header" class="feedback-header">
        <a class="noStyles" href="/paying-for-college/">
            <h1>Paying for College</h1>
        </a>
        <span>Compare financial aid and college cost</span>             
    </header><!-- end #comparison-tool-header -->
    
    <section class="feedback-section clearfix">
        <div class="col col7 suf5">
            <hr>
            <header>
                <h2 class="demi">Thank you for your feedback!</h2>
            </header>
            <div>
                <p>We’ll be sure to review your ideas and input, which will help us make the Paying for College cost comparison worksheet even more helpful!</p>
                <p class="medium">Stay informed about CFPB updates by joining our mailing list.</p>
                <form class="signup inlineSignup pfc-signup" action="https://public.govdelivery.com/service/process_ss.xml" method="GET" data-thanks="Thanks!">
                    <fieldset>
                        <input type="hidden" name="code" value="USCFPB_7">
                        <p class="clearfix"><label for="email">Email address</label> <input type="email" id="email" name="email" size="33"></p>
                        <p class="clearfix"><label for="questionid_10376">ZIP code</label> <input type="text" id="questionid_10376" name="questionid_10376"></p>
                        <p class="pfc-send-email"><button id="pfc-send-email">Send me email updates</button></p>
                    </fieldset>
                </form>
            </div>
        </div>      
    </section><!-- end .feedback-section -->            
</div><!-- end #comparison-tool .comparison-tool -->
{% endblock content %}
