

<footer class="o-footer" role="contentinfo">
    <div class="wrapper wrapper__match-content">

        <div class="o-footer_pre">

            <a class="btn
                      btn__secondary
                      js-return-to-top
                      o-footer_top-button"
               href="#">
                Back to top <span class="cf-icon cf-icon-arrow-up"></span>
            </a>

            <ul class="o-footer_nav-list">
                <li class="list_item">
                    <a class="list_link" href="/about-us/contact-us/">
                        Contact Us
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/about-us/newsroom/">
                        Newsroom
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/about-us/careers/">
                        Careers
                    </a>
                </li>
                <li class="list_item">
                    <a class="list_link" href="/cfpb-ombudsman/">
                        CFPB Ombudsman
                    </a>
                </li>
            </ul>
            <div class="block
                        block__flush-top
                        block__flush-bottom
                        block__padded-top">
                




<div class="m-social-media
            m-social-media__follow">
    

    <ul class="list
               list__unstyled
               list__horizontal
               m-social-media_icons">

        

        

        

        

        

        

        
            
        


        
            
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="/external-site/?ext_url=https://facebook.com/cfpb">
                        <span class="cf-icon cf-icon-facebook-square"></span>
                        <span class="u-visually-hidden">Visit us on Facebook</span>
                    </a>
                </li>
            
        
            
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="/external-site/?ext_url=https://twitter.com/cfpb">
                        <span class="cf-icon cf-icon-twitter-square"></span>
                        <span class="u-visually-hidden">Visit us on Twitter</span>
                    </a>
                </li>
            
        
            
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="/external-site/?ext_url=https://www.linkedin.com/company/consumer-financial-protection-bureau">
                        <span class="cf-icon cf-icon-linkedin-square"></span>
                        <span class="u-visually-hidden">Visit us on LinkedIn</span>
                    </a>
                </li>
            
        
            
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="/external-site/?ext_url=https://www.youtube.com/user/cfpbvideo">
                        <span class="cf-icon cf-icon-youtube-square"></span>
                        <span class="u-visually-hidden">Visit us on YouTube</span>
                    </a>
                </li>
            
        
            
                <li class="list_item">
                    <a class="m-social-media_icon"
                       href="/external-site/?ext_url=https://www.flickr.com/photos/cfpbphotos">
                        <span class="cf-icon cf-icon-flickr-square"></span>
                        <span class="u-visually-hidden">Visit us on Flickr</span>
                    </a>
                </li>
            
        

    </ul>
</div>

            </div>
        </div>

        <div class="o-footer-middle-left">

            <div class="o-footer_col">
                <ul class="o-footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/foia-requests/">
                            FOIA
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/plain-writing/">
                            Plain Writing
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/privacy/">
                            Privacy, Policy & Legal Notices
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link"
                           href="/privacy/digital-privacy-policy/">
                            Digital Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="o-footer_col">
                <ul class="o-footer_list">
                    <li class="list_item">
                        <a class="list_link" href="/accessibility/">
                            Accessibility
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/office-civil-rights/">
                            Office of Civil Rights
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/open-government/">
                            Open Government
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link" href="/tribal/">
                            Tribal
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="o-footer-middle-right">
                <ul class="o-footer_list">
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://usa.gov/">
                            <span class="icon-link_text">USA.gov</span>
                        </a>
                    </li>
                    <li class="list_item">
                        <a class="list_link
                                  icon-link
                                  icon-link__external-link"
                           href="http://www.federalreserve.gov/oig/default.htm">
                            <span class="icon-link_text">Office of Inspector General</span>
                        </a>
                    </li>
                </ul>
        </div>

        <div class="o-footer-post">
            <p class="o-footer_official-website">
                An official website of the United States Government
            </p>
        </div>

    </div>
</footer>

